.featureCard2{
    border:1px solid grey;
}
.moveImage{
    
    animation: 10s infinite linear moveCompany;
}
@keyframes moveCompany{
    0%{
        top:0;
    }
    100%{
        top:-40%;
    }

} 
.ctaSection{
    background-size: 100% 100%;
}
